<script setup>
import employee from '../data/employee2'
import { onMounted,reactive, ref, onBeforeUnmount } from 'vue'
import Chart from 'chart.js/auto'
let startDate = ref(2023);
let endDate = ref(2023);
const year = [
   2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022,2023
]
let findYear = reactive({});
let firstMonth = ref([]);
// let secondMonth = reactive({});

const label = ['Jan-Feb','Mar-Apr','May-Jun','Jul-Aug','Sep-Oct','Nov-Dec'];
const data = {
  labels: label,
  datasets: [
    {
      backgroundColor: [
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)'
    ],
      hoverOffset: 4
    },
    {
      backgroundColor: [
      'rgba(54, 162, 235, 0.2)',
      'rgba(153, 102, 255, 0.2)',
      'rgba(201, 203, 207, 0.2)',
      'rgba(255, 99, 132, 0.2)',
      'rgba(255, 159, 64, 0.2)',
      'rgba(255, 205, 86, 0.2)',
      'rgba(75, 192, 192, 0.2)',
    ],
      hoverOffset: 4
    },
  ]
  
}
const config = {
  type: 'bar',
  data: data,
  options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  },
};
let chartInstance = null;
const searchEmployee = () => {
  if (startDate.value > endDate.value) {
    return alert('end date must be greater than start date')
  } else {
    findYear = employee.filter(emp => emp.start_date.substring(0,4) >= startDate.value && emp.leave_date.substring(0,4) <= endDate.value);
    firstMonth.value = []; // Clear the firstMonth array before updating it
    
    const counts = new Map(); // Map object to store the counts of unique combinations
    for (let i = 0; i < findYear.length; i++) {
      const yearMonth = findYear[i].month_state + findYear[i].start_date.substring(0, 4);
      counts.set(yearMonth, (counts.get(yearMonth) || 0) + 1);
    }
    firstMonth.value = Array.from(counts.values());

    updateChart();
  }
}
function updateChart() {
      data.datasets[0].data = firstMonth.value;
      if (chartInstance) {
    chartInstance.destroy(); // Destroy the previous chart instance
  }
  chartInstance = new Chart(document.getElementById('lineChart'), config);
  chartInstance.update();
}

onMounted(() => {
  updateChart();
})

onBeforeUnmount(() => {
  if (chartInstance) {
    chartInstance.destroy(); // Destroy the chart instance on component unmount
  }
});

</script>
<template>
  <div class="flex flex-wrap -mx-3">
    <div class="w-full xl:w-2/4 px-3">
      <p class="text-xl font-semibold mb-4">Employee Lists</p>

      <div class="w-full bg-white border rounded-lg p-4 mb-8 xl:mb-0">
        <canvas id="lineChart" width="800" height="350"></canvas>
      </div>
      <div class="mt-4 flex">
        <div>
          <label for="date" class="mx-4">Start Date</label>
          <select v-model="startDate" @change="searchEmployee">
            <option v-for="y in year" :key="y">{{ y }}</option>
          </select>
          <!-- <input
            type="date"
            v-model="startDate"
            class="rounded-md p-2 border-2 border-white shadow-xl cursor-pointer"
            @change="searchEmployee"
          /> -->
        </div>
        <div>
          <label for="date" class="mx-4">End Date</label>
          <select v-model="endDate" @change="searchEmployee">
            <option v-for="y in year" :key="y" >{{ y }}</option>
          </select>
          <!-- <input
            type="date"
            v-model="endDate"
            class="rounded-md p-2 border-2 border-white shadow-xl cursor-pointer"
            @change="searchEmployee"
          /> -->
        </div>
      </div>
    </div>
  </div>
</template>
