<script setup>
  import SidebarPageVue from "./SidebarPage.vue";
  import NavbarPage from "./NavbarPage.vue";
  import { RouterView } from "vue-router";
  import { inject } from "vue";
  
const store = inject('store');
</script>

<template>
 <div class="leading-normal tracking-normal" id="main-body">
    <div class="flex flex-wrap">

      <SidebarPageVue/>

      <div class="w-full bg-gray-100 pl-0 lg:pl-64 min-h-screen" :class="store.state.sideBarOpen ? 'overlay' : ''" id="main-content">

        <NavbarPage />

        <div class="p-6 bg-gray-100 mb-20">
          <router-view />
        </div>


      </div>
    </div>
  </div>
</template>


