<script setup>
import { RouterView } from 'vue-router'
import store from '@/store';
import { provide } from 'vue';
import { onMounted } from 'vue';

onMounted(()=> {
  provide('store', store)
})
</script>

<template>
  <RouterView />
  
</template>
